<small>You can cite code or comments in my blog as you like basically. <br></small>
<small>There are some exceptions.<br></small>
<small> 1. When the code belongs to some other license. In that case, follow it.<br></small>
<small> 2. You can't use them for evil purpose. <br></small>
<small>I don't take any responsibility for using my code or comment.<br></small>
<small>If you find my blog useful, I'll appreciate if you leave comments.<br><br></small>
<small>This website uses <a href="https://www.google.com/intl/ja/policies/privacy/partners/">Google Analytics</a>.It uses cookies to help the website analyze how you use the site. You can manage the functionality by disabling cookies.</small>
